
.social-icon {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
    color: #6c757d;
    font-size: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-right: 10px;
}
.uk-card{
    height: 80vh;
  
}
.uk-card-footer{
    border-top: 2px solid black;
    
}


.social-icon:hover {
    background-color: #144171;
    color: white;
    transform: scale(1.1);
}

.rounded-circle {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.text-muted {
    font-size: 1.1rem;
}

html, body {
    height: 50%; 
}



footer {
    position: relative;
    bottom: 500px; 
    width: 100%;
}

.row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
}


.col-12 {
    width: 100%;
}


.card {
    margin-bottom: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

